<div class="container">
    <h2 class="my-4">My Orders</h2>
    <div *ngIf="isOrdersEmpty" class="alert alert-danger m-5 w-100" role="alert">
        <i class="bi bi-emoji-frown"> Please Order Items to Display</i>
    </div>
    <ul *ngIf="!isOrdersEmpty" class="list-unstyled list-group mt-5">
        <li *ngFor="let order of myOrders" class="row mb-3">
            <div class="col image-col text-center">
                <img class="img-fluid img-thumbnail" src={{order.imageUrl}} alt="image">
            </div>
            <div class="col details-col">
                <div class="product-name mt-4 mb-4">
                    <strong>{{order.orderName}}</strong>
                </div>
                <div class="order-quantity">
                    {{order.orderQuantity}} items
                </div>
                
            </div>
            <div class="col date-col mt-5 text-end me-3">
                <i class="bi bi-calendar"></i> {{order.orderDate | date}}
            </div>
            <div class="uniqueOrderId ms-4">
                <strong>Reference Id: </strong>{{order.uniqueOrderId}}
            </div>
        </li>
        
    </ul>

</div>