<section class="vh-100" style="background-color:rgb(128, 128, 128,0.2);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form [formGroup]="LoginForm" (ngSubmit)="loginUser(LoginForm)" class="card-body p-5 text-center">
  
              <h2 class="mb-5">Login</h2>

              <div class="form-outline mb-4">
                <input type="email" formControlName="email" placeholder="Enter your email" class="form-control form-control-md" />
                <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="text-start" >
                  <div *ngIf="email?.errors?.['required']" style="color: red;">This field is Required.</div>
                  <div *ngIf="email?.errors?.['pattern']" style="color: red;">Please write a valid email.</div>
                </div>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" formControlName="password" placeholder="Enter your password" class="form-control form-control-md" />
                <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="text-start" >
                  <div *ngIf="password?.errors?.['required']" style="color: red;">This field is Required.</div>
                </div>
              </div>
  
  
              <button [disabled]="!LoginForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              <hr class="my-4">
              <a class="text-decoration-none" routerLink="/signup">New user, signup now</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>